{% load static %}
<head>
    <meta charset="utf-8" />
    <title>{{ page_title|default:"Vision" }}</title>
    <meta name="description" content="Vision - AI Object Detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <link rel="icon" href="{% static 'images/avater5827.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightmode.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/feature.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <script src="{% static 'js/feather.min.js' %}"></script>
</head>
